{% extends "FrontBundle::base.html.twig" %}

{% block body %}
<!-- //////////////////////////////////////////////////////////////////////////// -->
    <section id="booking" class="block">
        <div class="container">
            <div class="row">
                <div class="col s12 center-align">
                    <h2 class="white-text text-header">Réservez un terrain</h2>
                    <p class="flow-text white-text hide-on-small-only">Réservez votre terrain en ligne en choisissant votre jour et votre créneau horaire.<br>
                        Pour être sûr d'avoir un terrain réservé chaque semaine, même jour, même heure contactez votre centre.</p>
                </div>
            </div>
            <div class="col s12 m12 btn-booking">
                <div class="col s12 center-align">
                    <button class="btn-floating btn-large waves-effect waves-light yellow z-depth-1 black-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Réservez" onclick="window.location.href='{{ path('booking_page') }}'"><i class="far fa-futbol black-text"></i></button>
                </div>
            </div>
        </div>
    </section>
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
    <section id="plateforme" class="block white lighten-1">

        <div class="row">
            <div class="col s12 center-align">
                <h3 class="text-header">Plateforme</h3>
                <p class="flow-text">Plateforme d'automatisation de gestion de vos centres de football et de réservation client.</p>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <img src="{{ asset('public/images/plateforme-photo.png') }}">
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6 l5 offset-l1">
                    <div class="card blueprint sticky-action">
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-4"><i class="medium material-icons left">view_array</i>Gérer les Terrains</span><br>
                            <p>Vous avez la possibilité d'ajouter un ou plusieurs terrains, pour chaque terrain vous pouvez mettre leurs informations description, scénaces, capacité.</p>
                        </div>
                        {#<div class="card-action">#}
                            {#<a href="#modal1" class="modal-trigger">Learn more</a>#}
                        {#</div>#}
                    </div>
                </div>

                <div class="col s12 m6 l5">
                    <div class="card blueprint sticky-action">
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-4"><i class="fas fa-ticket-alt left fa-2x"></i> </i>Gérer les réservations </span><br>
                            <p>Vous pouvez suivre les réservations en ligne des clients, avec la possibilité de gérer les abonnements client fidèle et de plus réservez des matchs depuis la plateforme.</p>
                        </div>
                        {#<div class="card-action">#}
                            {#<a href="#modal1" class="modal-trigger">Learn more</a>#}
                        {#</div>#}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6 l5 offset-l1">
                    <div class="card blueprint sticky-action">
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-4"><i class="medium material-icons left">event_note</i>Gérer les planification</span><br>
                            <p>Vous pouvez effectuer un période pour chaque terrain crée dans votre centre. le période se divise entre trois éléments séances, période, prix. </p>
                        </div>
                        {#<div class="card-action">#}
                            {#<a href="#modal1" class="modal-trigger">Learn more</a>#}
                        {#</div>#}
                    </div>
                </div>

                <div class="col s12 m6 l5">
                    <div class="card blueprint sticky-action">
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-4"><i class="medium material-icons left">people</i>Espace Académie</span><br>
                            <p>Vous pouvez gérer votre académie depuis la rubrique académie, dans cette rubrique vous avez la possibilité d'insérer l'effectif et le programme annuelle de l'académie. </p>
                        </div>
                        {#<div class="card-action">#}
                            {#<a href="#modal1" class="modal-trigger">Learn more</a>#}
                        {#</div>#}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6 l5 offset-l1">
                    <div class="card blueprint sticky-action">
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-4"><i class="medium material-icons left">videocam</i>Dêpot des vidéos</span><br>
                            <p>Si vous avez  un ou plusieurs terrains équipés par caméra? vous avez la possibilité de mettre la vidéo en ligne d'autre part le client peut voir le match en vidéo.</p>
                        </div>
                        {#<div class="card-action">#}
                            {#<a href="#modal1" class="modal-trigger">Learn more</a>#}
                        {#</div>#}
                    </div>
                </div>

                <div class="col s12 m6 l5">
                    <div class="card blueprint sticky-action">
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-4"><i class="medium material-icons left">dashboard</i>Dashboard</span><br>
                            <p>Tableau de bord pour visualiser  la performance mensuelle, annuelle et les dernières réservations en cours accompagné des valeurs précise.</p>
                        </div>
                        {#<div class="card-action">#}
                            {#<a href="#modal1" class="modal-trigger">Learn more</a>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>

    </section>
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
    <section id="video" class="block grey lighten-3">
        <div class="row">
            <div class="col s12 center-align">
                <h3 class="text-header">Revoir votre match en vidéo</h3>
                <p class="flow-text">Si vous avez joué un match sur terrain équipé par caméra, vous avez l'occasion de regarder votre match en vidéo.</p>
            </div>
        </div>
        <div class="container">
            <div class="row center-align">
                <div class="col s6 m2 offset-m3 circle hide-on-small-only">
                    <a href="#">
                        <img src="{{ asset('public/images/soccer_icon/youtube.png') }}">
                    </a>
                </div>
                <div class="col s12 m2 circle">
                    <a href="#">
                        <img src="{{ asset('public/images/soccer_icon/camera.png') }}">
                    </a>
                </div>
                <div class="col s6 m2 circle hide-on-small-only">
                    <a href="#">
                        <img src="{{ asset('public/images/soccer_icon/arena.png') }}">
                    </a>
                </div>
                <div class="col s12 m12 btn-video">
                    <div class="col s12 center-align">
                        <a class="btn btn-large waves-effect waves-light yellow accent-4 black-text" href="{{ path('video_login') }}">Match en vidéo</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <section id="exagon-interlude" class="">

        {#<div class="row">#}
        {#<div class="col s12 center-align" style="margin-top: 1rem">#}
        {#<h2 class="white-text text-header">Key concepts</h2>#}
        {#</div>#}
        {#</div>#}
        <div class="container">
            <div class="row center-align">
                <div class="col s4 m2 offset-m1 exagon">
                    <a href="#">
                        <img src="{{ asset('public/images/soccer_icon/centers.png') }}">
                        <p class="white-text">Centres</p>
                    </a>
                </div>
                <div class="col s4 m2 exagon">
                    <a href="#">
                        <img src="{{ asset('public/images/soccer_icon/terrains.png') }}">
                        <p class="white-text">Terrains</p>
                    </a>
                </div>
                <div class="col s4 m2 exagon">
                    <a href="#">
                        <img src="{{ asset('public/images/soccer_icon/regions.png') }}">
                        <p class="white-text">Régions</p>
                    </a>
                </div>
                <div class="col s5 offset-s1 m2 exagon">
                    <a href="#">
                        <img src="{{ asset('public/images/soccer_icon/clients.png') }}">
                        <p class="white-text">Clients</p>
                    </a>
                </div>
                <div class="col s5 m2 exagon">
                    <a href="#">
                        <img src="{{ asset('public/images/soccer_icon/stadiers.png') }}">
                        <p class="white-text">Stadiers</p>
                    </a>
                </div>
            </div>
        </div>

    </section>
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
    <section id="contact" class="block white lighten-1">
        <div class="row">
            <div class="col s12 center-align">
                <h3 class="text-header">Contactez-nous</h3>
            </div>
            <div class="col s12 m10 offset-m1">
                <p class="flow-text center-align">Taqwira permettant aux joueurs de trouver facilement leurs terrains préférés ,suivre les offres et la disponibilité de chaque terrain.
                D'autre part pour les propriétaires des centres de football, taqwira offre un plateforme de gestion pour chaque centre qu'il pourra la gérer facilement.
                        si vous ne trouvez pas votre centre proposez au propriétaire l'insription sur taqwira.com</p>
            </div>
        </div>
        <div class="container">
            <div class="col s12 m12 btn-contact">
                <div class="col s12 center-align">
                    <a href="{{ path('contact_us') }}" class="btn btn-large waves-effect waves-light yellow accent-4">
                        <span class="black-text">Contactez-nous</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
<!-- //////////////////////////////////////////////////////////////////////////// -->

    {# === CSS STYLE === #}
    <style>
        nav ul li a:hover, nav ul li a.active {
            background-color: rgba(0,0,0,.1);
        }
        footer {
            padding-left: 0;
        }

    </style>
{% endblock body %}
