{% extends "base.html.twig" %}

{% block title %} Réservation de terrain | Taqwira {% endblock title %}

{% block body %}

    <div id="form-booking-search" class="block grey lighten-3">

        <div class="row" style="padding: 10px 0px">
            <div class="col s12">
                <ul class="tabs z-depth-1">
                    <li class="tab col s4"><a class="active grey-text" href="#bookings"><i class="material-icons">confirmation_number</i></a></li>
                    <li class="tab col s4"><a class="grey-text" href="#info"><i class="material-icons">info</i></a></li>
                    <li class="tab col s4"><a class="grey-text" href="#event"><i class="material-icons">event_note</i></a></li>
                </ul>
            </div>
            {% if fields is defined %}
                {#====================================================================================================#}
                {#===Bookings ========================================================================================#}
                {#====================================================================================================#}
                <div id="bookings" class="col s12">
                    <div class="row">
                        {% for field in fields %}
                            <div class="card">{# class="card sticky-action"#}
                                <div class="card-content row" style="margin-bottom: 0px">
                                    <div class="col s12 m3 l3">
                                        <div class="card-title">
                                            <img class="left" src="{{ asset('images/soccer_icon/soccer34.png') }}" width="25%" alt="field icon">
                                            <span style="line-height: 70px; padding: 0 0.5rem">{{ field.name }}</span>
                                        </div>
                                    </div>
                                    <div class="col s12 m6 l6">
                                        <p><i class="tiny material-icons ">info_outline</i> <b>Capacité</b>: {{ field.capacity }} joueurs</p>
                                        <p>
                                            {% set hideClass = null %}
                                            {% for planning in field.planning if planning.field.id == field.id %}
                                                <i class="tiny material-icons">event_available</i> <b>Période</b>: De <b>{{ planning.dateStart|date('d/m/Y') }}</b> à <b>{{ planning.dateEnd|date('d/m/Y') }}</b>
                                            {% else %}
                                                {% set hideClass = 'hide' %}
                                                <i class="tiny material-icons">event_available</i> <b>Période</b>: <span class="red-text"><i class="tiny material-icons">info</i> non disponible</span>
                                            {% endfor %}
                                        </p>
                                        <p><i class="tiny material-icons ">event</i> <b>Date</b>:  <span class="grey-text">{% if 'now'|date('Y-m-d') == date_search|date('Y-m-d') %}Aujourd'hui{% else %}{{ date_search|date|localizeddate('full', 'none', app.request.locale ) }}{% endif %}</span></p>
                                    </div>
                                    <div class="col s12 m3 l3 right">
                                        <i class="material-icons right activator">more_vert</i>
                                    </div>
                                </div>
                                {#==== calculer de nombre des jours dans le  planning =============================#}
                                {% for planning in field.planning if planning.field.id == field.id %}
                                    {#===========================================================================================#}
                                    {#=== Si la date est inferieur a la date de fin de planning =================================#}
                                    {#===========================================================================================#}
                                    {% if planning.dateStart|date('Y-m-d') > date_search|date('Y-m-d') %}
                                        <div class="card-action center grey lighten-4">
                                            <span class="red-text"> <i class="material-icons">info</i><br> Aucun résultat trouvé ! </span>
                                        </div>
                                        {#===========================================================================================#}
                                        {#=== Si la date d'aujourd'hui est superieur ================================================#}
                                        {#===========================================================================================#}
                                    {% elseif 'now'|date('Y-m-d') > date_search|date('Y-m-d') %}
                                        <div class="card-action center grey lighten-4">
                                            <span class="red-text"> <i class="material-icons">info</i><br> Aucun résultat trouvé ! </span>
                                        </div>
                                        {#===========================================================================================#}
                                        {#=== Si la date est superieur a la date de fin de planning =================================#}
                                        {#===========================================================================================#}
                                    {% elseif planning.dateEnd|date('Y-m-d') < date_search|date('Y-m-d') %}
                                        <div class="card-action center grey lighten-4">
                                            <span class="red-text"> <i class="material-icons">info</i><br> Aucun résultat trouvé ! </span>
                                        </div>
                                        {#===========================================================================================#}
                                        {#========================================== End ============================================#}
                                        {#===========================================================================================#}
                                    {% else %}
                                        {#==========================================================================================#}
                                        {#=== Si c'est la date d'aujourd'huit ======================================================#}
                                        {#==========================================================================================#}
                                        <div class="card-action center session-day-{{ field.id }} grey lighten-4">
                                            <span class="center-align">
                                            {% if "now"|date('Y-m-d') == date_search|date('Y-m-d') %}
                                                {% for day in days %}
                                                    {% if day.name == date_search|date('l') %}
                                                        {% for price in day.Price %}
                                                            {% for sessionP in price.Session %}
                                                                {% for sessionF in field.session %}
                                                                    {% if sessionF.id == sessionP.id %}
                                                                        {% if price.field.id == field.id %}
                                                                            {% if sessionF.timeStart|date('H:i') >= 'now'|date('H:i') %}
                                                                                <!--==== Session button content =============================-->
                                                                                {% set bookSelected %} <a class="tooltipped modal_trigger" data-position="top" data-delay="50" data-tooltip="{{ price.amount }} TND" href="{{ path('booking_details', {'field': field.id | urlencrypt ,'date': date_search|date('Y-m-d') | urlencrypt , 'timeS': sessionF.timeStart|date('H:i') | urlencrypt, 'timeE': sessionF.timeEnd|date('H:i') | urlencrypt, 'price': price.amount | urlencrypt }) }}"><div class="chip waves-effect waves-light lime"><i class="tiny material-icons">timer</i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                                <!--==== Session already booked =============================-->
                                                                                {% for booking in bookings if booking.field.id == field.id %}
                                                                                {% if booking.date|date('Y-m-d') == date_search|date('Y-m-d') and booking.timeStart|date('H:i') == sessionF.timeStart|date('H:i') %}
                                                                                    {% set bookSelected %} <a class="disabled"><div class="chip red lighten-1 red-text text-lighten-4"><i class="tiny material-icons">timer</i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                                <!--==== Session academy ====================================-->
                                                                                {% for program in day.Program %}
                                                                                {% for sessionA in program.Session if sessionF.id == sessionA.id %}
                                                                                    {% if program.field.id == field.id %}
                                                                                        {% set bookSelected %} <a class="disabled"><div class="chip"><i class="tiny material-icons">timer</i> {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            {% endfor %}
                                                                                <!--==== Session available for booking ======================-->
                                                                                {{ bookSelected }}
                                                                            {% else %}
                                                                                <!--==== Session passed =====================================-->
                                                                                <a class="disabled"><div class="chip"><i class="tiny material-icons">timer</i>  {{ sessionF.timeStart|date('H:i') }}</div></a>
                                                                            {% endif %}
                                                                        {% else %}
                                                                            {% if loop.first %}
                                                                                <span class="red-text"> <i class="material-icons">info</i><br> Aucun résultat trouvé ! </span>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {% for day in days %}
                                                    {% if day.name == date_search|date('l') %}
                                                        {% for price in day.Price %}
                                                            {% for sessionP in price.Session %}
                                                                {% for sessionF in field.session %}
                                                                    {% if sessionF.id == sessionP.id %}
                                                                        {% if price.field.id == field.id %}
                                                                            <!--==== Session button content =================================-->
                                                                            {% set bookSelected %} <a class="tooltipped modal_trigger" data-position="top" data-delay="50" data-tooltip="{{ price.amount }} TND" href="{{ path('booking_details', {'field': field.id | urlencrypt ,'date': date_search|date('Y-m-d') | urlencrypt , 'timeS': sessionF.timeStart|date('H:i') | urlencrypt, 'timeE': sessionF.timeEnd|date('H:i') | urlencrypt, 'price': price.amount | urlencrypt }) }}"><div class="chip waves-effect waves-light lime"><i class="tiny material-icons">timer</i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                            <!--==== Session already booked =================================-->
                                                                            {% for booking in bookings if booking.field.id == field.id %}
                                                                            {% if booking.date|date('Y-m-d') == date_search|date('Y-m-d') and booking.timeStart|date('H:i') == sessionF.timeStart|date('H:i') %}
                                                                                {% set bookSelected %} <a class="disabled"><div class="chip red lighten-1 red-text text-lighten-4"><i class="tiny material-icons">timer</i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                            <!--==== Session academy ========================================-->
                                                                            {% for program in day.Program %}
                                                                            {% for sessionA in program.Session if sessionF.id == sessionA.id %}
                                                                                {% if program.field.id == field.id %}
                                                                                    {% set bookSelected %} <a class="disabled"><div class="chip"><i class="tiny material-icons">timer</i> {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endfor %}
                                                                            <!--==== Session available for booking ==========================-->
                                                                            {{ bookSelected }}
                                                                        {% else %}
                                                                            {% if loop.first %}
                                                                                <span class="red-text"> <i class="material-icons">info</i><br> Aucun résultat trouvé ! </span>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            </span>
                                        </div>
                                        {#===========================================================================================#}
                                        {#========================================== End ============================================#}
                                        {#===========================================================================================#}
                                    {% endif %}
                                {% endfor %}
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">{{ field.name }}<i class="material-icons right">close</i></span>
                                    <p>{{ field.description }}.</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {#====================================================================================================#}
                {#=== info ===========================================================================================#}
                {#====================================================================================================#}
                <div id="info" class="col s12">
                    <div class="row">
                        <!-- Carousel image du centre -->
                        <div class="col s12 m6">
                            {% if center.image is empty %}
                                <div class="card grey lighten-2 z-depth-0">
                                    <div style="padding: 8rem 4rem;"><i class="left medium material-icons">add_a_photo</i><br>Ajouter des photos</div>
                                </div>
                            {% else %}
                                <div class="card">
                                    <div class="carousel carousel-slider">
                                        {% for image in center.image %}
                                            <a class="carousel-item"><img src="https://plateforme.taqwira.com/uploads/photos/{{ image.url }}"></a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <p style="font-size:0.8rem;font-weight: 300">Note: Ceci est également compatible avec le tactile! Essayez de glisser avec votre doigt ou souris pour faire défiler le carrousel.</p>
                            {% endif %}
                            <!-- map  geolocalisation-->
                            <div class="card">
                                <div id="map" style="height: 400px"></div>
                                <div class="hide">
                                    <input id="address" type="textbox" value="{{ center.address }} {{ center.cp }} {{ center.city }}, {{ center.region }}">
                                </div>
                            </div>
                            <!-- end map -->
                        </div>
                        <!-- informations centre -->
                        <div class="col s12 m6">
                            <div class="card">
                                <ul class="collection">
                                    <li class="collection-item avatar" style="padding-top: 20px">
                                        {% if center.avatar is empty %}
                                            <i class="material-icons circle">business</i>
                                        {% else %}
                                            <img class="circle responsive-img" src="https://plateforme.taqwira.com/uploads/avatars/{{ center.avatar }}" alt="avatar"> <!-- notice the "circle" class -->
                                        {% endif %}
                                        <span class=" flow-text">{{ center.name }}</span>
                                        <p class="grey-text">football centre</p>
                                    </li>
                                    <li class="collection-item"><i class="material-icons left">view_array</i>{{ center.field|length }} Terrains</li>
                                    <li class="collection-item"><i class="material-icons left">location_on</i>{{ center.address }}, {{ center.cp }} {{ center.city }}, {{ center.region }}</li>
                                    <li class="collection-item"><i class="material-icons left">mail</i>{{ user.email }}</li>
                                    <li class="collection-item"><i class="material-icons left">local_phone</i><a href="tel:{{ center.phone }}">{{ center.phone }}</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--Infromations equipements -->
                        <div class="col s12 m6">
                            <div class="card">
                                <ul class="collection with-header">
                                    <li class="collection-header"><h5>Équipements</h5></li>
                                    {% for service in center.service %}
                                        <li class="collection-item"><i class="material-icons left">{{ service.icon }}</i> {{ service.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {#====================================================================================================#}
                {#===Event ===========================================================================================#}
                {#====================================================================================================#}
                <div id="event" class="col s12">
                    <div class="row">
                        <!-- Bloc event center -->
                        {% if events != null %}
                            {% for event in events %}
                                <div id="profile-page-wall-post" class="card">
                                    <div class="card-profile-title">
                                        <div class="row valign-wrapper">
                                            <div class="col s1">
                                                <img src="https://plateforme.taqwira.com/uploads/avatars/{{ event.center.avatar }}" alt="logo centre" class=" responsive-img">
                                            </div>
                                            <div class="col s10">
                                                <p class="grey-text text-darken-4 margin">{{ event.center.name }}</p>
                                                <span class="grey-text text-darken-1 ultra-small">{{ event.title }}  -  {{ event.created|date('d/m/Y') }}</span>
                                            </div>
                                            <div class="col s1 right-align">
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </div>
                                        </div>
                                    </div>
                                    {% if event.image != null %}
                                        <div class="card-image profile-small">
                                            <img src="https://plateforme.taqwira.com/uploads/event/{{ event.image }}" alt="sample" class="responsive-img profile-post-image">
                                        </div>
                                    {% endif %}
                                    <div class="card-content">
                                        <p>{{ event.content|raw }}</p>
                                    </div>
                                    <div class="card-action">
                                        {#<a href="#">Like</a>&nbsp;#}
                                        <a href="#" class="grey-text"><i class="left material-icons">share</i> Partager</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="center-align" style="padding-top: 20px"><i class="material-icons">info</i><br>Pas d'événement en ce moment</p>
                        {% endif %}
                    </div>
                </div>

            {% endif %}
        </div>

        <div class="fixed-action-btn">
            <a class="btn-large btn-floating waves-effect waves-light yellow z-depth-1" href="{{ path('booking_page') }}">
                <i class="large material-icons black-text">search</i>
            </a>
        </div>

    </div>

    {# === CSS STYLE === #}
    <style>
        body{
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        html, body, .block {
            flex: 1 0 auto;
        }
        footer {
            padding-left: 0;
        }

        .card .card-action {
            padding: 20px 15px;
        }

        .tabs .indicator{
            background-color: #cddc39;
        }
        .tabs .active{
            color: #000000 !important;
        }

        .tabs .tab a {
            padding: 10px;
        }

    </style>

    <script >
        var geocoder;
        var map;
        function initMap() {
            geocoder = new google.maps.Geocoder();
            codeAddress();
            var latlng = new google.maps.LatLng(37.221348, 10.114012);
            var mapOptions = {
                zoom: 8,
                center: latlng
            }
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
        }

        function codeAddress() {
            var address = document.getElementById('address').value;
            geocoder.geocode( { 'address': address}, function(results, status) {
                if (status == 'OK') {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                }
            });
        }

    </script>
    <!-- Google Places API Web Service -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzcdGh66x78hQXNiI96wzmgDG_RBbE-ts&callback=initMap"></script>

{% endblock body %}

