{% if fields is defined %}

    {% for field in fields %}
        <div class="card">{# class="card sticky-action"#}
            <div class="card-content row" style="margin-bottom: 0px">
                <div class="col s12 m3 l3">
                    <div class="card-title">
                        <img class="left" src="{{ asset('public/images/soccer_icon/soccer34.png') }}" width="25%" alt="field icon">
                        <span style="line-height: 70px; padding: 0 0.5rem">{{ field.name }}</span>
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <p><i class="tiny material-icons ">info_outline</i> <b>Capacité</b>: {{ field.capacity }} joueurs</p>
                    <p>
                        {% set hideClass = null %}
                        {% for planning in field.planning if planning.field.id == field.id %}
                            <i class="tiny material-icons">event_available</i> <b>Période</b>: De <b>{{ planning.dateStart|date('d/m/Y') }}</b> à <b>{{ planning.dateEnd|date('d/m/Y') }}</b>
                        {% else %}
                            {% set hideClass = 'hide' %}
                            <i class="tiny material-icons">event_available</i> <b>Période</b>: <span class="red-text"><i class="tiny material-icons">info</i> non disponible</span>
                        {% endfor %}
                    </p>
                    <p><i class="tiny material-icons ">event</i> <b>Date</b>:  <span class="grey-text">{% if 'now'|date('Y-m-d') == date_search|date('Y-m-d') %}Aujourd'hui{% else %}{{ date_search|date|localizeddate('full', 'none', app.request.locale ) }}{% endif %}</span></p>
                </div>
                <div class="col s12 m3 l3 right">
                    <i class="material-icons right activator">more_vert</i>
                </div>
            </div>
            {#==== calculer de nombre des jours dans le  planning =============================#}
            {% for planning in field.planning if planning.field.id == field.id %}
                {#===========================================================================================#}
                {#=== Si la date est inferieur a la date de fin de planning =================================#}
                {#===========================================================================================#}
                {% if planning.dateStart|date('Y-m-d') > date_search|date('Y-m-d') %}
                    <div class="card-action center grey lighten-4">
                        <span class="red-text"> <i class="material-icons">info</i><br> Aucun résultat trouvé ! </span>
                    </div>
                    {#===========================================================================================#}
                    {#=== Si la date d'aujourd'hui est superieur ================================================#}
                    {#===========================================================================================#}
                {% elseif 'now'|date('Y-m-d') > date_search|date('Y-m-d') %}
                    <div class="card-action center grey lighten-4">
                        <span class="red-text"> <i class="material-icons">info</i><br> Aucun résultat trouvé ! </span>
                    </div>
                    {#===========================================================================================#}
                    {#=== Si la date est superieur a la date de fin de planning =================================#}
                    {#===========================================================================================#}
                {% elseif planning.dateEnd|date('Y-m-d') < date_search|date('Y-m-d') %}
                    <div class="card-action center grey lighten-4">
                        <span class="red-text"> <i class="material-icons">info</i><br> Aucun résultat trouvé ! </span>
                    </div>
                    {#===========================================================================================#}
                    {#========================================== End ============================================#}
                    {#===========================================================================================#}
                {% else %}
                    {#==========================================================================================#}
                    {#=== Si c'est la date d'aujourd'huit ======================================================#}
                    {#==========================================================================================#}
                    <div class="card-action center session-day-{{ field.id }} grey lighten-4">
                        <span class="center-align">
                        {% if "now"|date('Y-m-d') == date_search|date('Y-m-d') %}
                            {% for day in days %}
                                {% if day.name == date_search|date('l') %}
                                    {% for price in day.Price %}
                                        {% for sessionP in price.Session %}
                                            {% for sessionF in field.session %}
                                                {% if sessionF.id == sessionP.id %}
                                                    {% if price.field.id == field.id %}
                                                        {% if sessionF.timeStart|date('H:i') >= 'now'|date('H:i') %}
                                                            <!--==== Session button content =============================-->
                                                            {% set bookSelected %} <a class="tooltipped modal_trigger" data-position="top" data-delay="50" data-tooltip="{{ price.amount }} TND" href="{{ path('booking_details', {'field': field.id | urlencrypt ,'date': date_search|date('Y-m-d') | urlencrypt , 'timeS': sessionF.timeStart|date('H:i') | urlencrypt, 'timeE': sessionF.timeEnd|date('H:i') | urlencrypt, 'price': price.amount | urlencrypt }) }}"><div class="chip waves-effect waves-light lime"><i class="tiny material-icons">timer</i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                            <!--==== Session already booked =============================-->
                                                            {% for booking in bookings if booking.field.id == field.id %}
                                                                {% if booking.date|date('Y-m-d') == date_search|date('Y-m-d') and booking.timeStart|date('H:i') == sessionF.timeStart|date('H:i') %}
                                                                    {% set bookSelected %} <a class="disabled"><div class="chip red lighten-1 red-text text-lighten-4"><i class="tiny material-icons">timer</i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            <!--==== Session academy ====================================-->
                                                            {% for program in day.Program %}
                                                                {% for sessionA in program.Session if sessionF.id == sessionA.id %}
                                                                    {% if program.field.id == field.id %}
                                                                        {% set bookSelected %} <a class="disabled"><div class="chip"><i class="tiny material-icons">timer</i> {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                            <!--==== Session available for booking ======================-->
                                                            {{ bookSelected }}
                                                        {% else %}
                                                            <!--==== Session passed =====================================-->
                                                            <a class="disabled"><div class="chip"><i class="tiny material-icons">timer</i>  {{ sessionF.timeStart|date('H:i') }}</div></a>
                                                        {% endif %}
                                                    {% else %}
                                                        {% if loop.first %}
                                                            <span class="red-text"> <i class="material-icons">info</i><br> Aucun résultat trouvé ! </span>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for day in days %}
                                {% if day.name == date_search|date('l') %}
                                    {% for price in day.Price %}
                                        {% for sessionP in price.Session %}
                                            {% for sessionF in field.session %}
                                                {% if sessionF.id == sessionP.id %}
                                                    {% if price.field.id == field.id %}
                                                        <!--==== Session button content =================================-->
                                                        {% set bookSelected %} <a class="tooltipped modal_trigger" data-position="top" data-delay="50" data-tooltip="{{ price.amount }} TND" href="{{ path('booking_details', {'field': field.id | urlencrypt ,'date': date_search|date('Y-m-d') | urlencrypt , 'timeS': sessionF.timeStart|date('H:i') | urlencrypt, 'timeE': sessionF.timeEnd|date('H:i') | urlencrypt, 'price': price.amount | urlencrypt }) }}"><div class="chip waves-effect waves-light lime"><i class="tiny material-icons">timer</i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                        <!--==== Session already booked =================================-->
                                                        {% for booking in bookings if booking.field.id == field.id %}
                                                            {% if booking.date|date('Y-m-d') == date_search|date('Y-m-d') and booking.timeStart|date('H:i') == sessionF.timeStart|date('H:i') %}
                                                                {% set bookSelected %} <a class="disabled"><div class="chip red lighten-1 red-text text-lighten-4"><i class="tiny material-icons">timer</i>  {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        <!--==== Session academy ========================================-->
                                                        {% for program in day.Program %}
                                                            {% for sessionA in program.Session if sessionF.id == sessionA.id %}
                                                                {% if program.field.id == field.id %}
                                                                    {% set bookSelected %} <a class="disabled"><div class="chip"><i class="tiny material-icons">timer</i> {{ sessionF.timeStart|date('H:i') }}</div></a> {% endset %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                        <!--==== Session available for booking ==========================-->
                                                        {{ bookSelected }}
                                                    {% else %}
                                                        {% if loop.first %}
                                                            <span class="red-text"> <i class="material-icons">info</i><br> Aucun résultat trouvé ! </span>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </span>
                    </div>
                    {#===========================================================================================#}
                    {#========================================== End ============================================#}
                    {#===========================================================================================#}
                {% endif %}
            {% endfor %}
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ field.name }}<i class="material-icons right">close</i></span>
                <p>{{ field.description }}.</p>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <h1 class="flow-text grey lighten-3 z-depth-0 card-panel">INFORMATIONS DU CENTRE</h1>
        <!-- Carousel image du centre -->
        <div class="col s12 m6">
            {% if center.image is empty %}
                <div class="card grey lighten-2 z-depth-0">
                    <div style="padding: 10rem 12rem;"><i class="left medium material-icons">add_a_photo</i><br>Ajouter des photos</div>
                </div>
            {% else %}
                <div class="card">
                    <div class="carousel carousel-slider">
                        {% for image in center.image %}
                            <a class="carousel-item"><img src="{{ asset('uploads/photos/'~ image.url) }}"></a>
                        {% endfor %}
                    </div>
                </div>
                <p style="font-size:0.8rem;font-weight: 300">Note: Ceci est également compatible avec le tactile! Essayez de glisser avec votre doigt ou souris pour faire défiler le carrousel.</p>
            {% endif %}
        </div>
        <!-- informations centre -->
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        <div class="row valign-wrapper">
                            <div class="col s2">
                                {% if center.avatar is empty %}
                                    <i class="left medium material-icons">business</i>
                                {% else %}
                                    <img class="circle responsive-img" src="{{ asset('uploads/avatars/'~center.avatar) }}" alt="avatar"> <!-- notice the "circle" class -->
                                {% endif %}
                            </div>
                            <div class="col s10">
                                <span class="black-text">
                                    {{ center.name }}
                                </span>
                            </div>
                        </div>
                    </span>
                    <div class="divider"></div><br>
                    <p><i class="material-icons left">view_array</i>{{ center.field|length }} Terrains</p><br>
                    <p><i class="material-icons left">location_on</i>{{ center.address }}<br>{{ center.cp }} {{ center.city }}, {{ center.region }} </p><br>
                    <p><i class="material-icons left">mail</i>{{ user.email }}</p><br>
                    <p><i class="material-icons left">local_phone</i>{{ center.phone }}</p>
                </div>
            </div>
        </div>
        <!--Infromations equipements -->
        <div class="col s12 m6">
            <div class="card">
                <ul class="collection with-header">
                    <li class="collection-header"><h5>Équipements</h5></li>
                    {% for service in center.service %}
                        <li class="collection-item"><i class="material-icons left">{{ service.icon }}</i> {{ service.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- map  geolocalisation-->
        <div class="col s12 m6 hide">
            <div class="card">
                <div id="map" style="height: 400px"></div>
            </div>
        </div>
        <!--/end map-->
    </div>
    <div class="row">
        <h1 class="flow-text grey lighten-3 z-depth-0 card-panel">ÉVÉNEMENTS</h1>
        <!-- Bloc event center -->
        {% for event in events|sort %}
            {% if event.isPublished == true and "now"|date('Y/m/d') <= event.dateEnd|date('Y/m/d') %}
                <div class="col s12 m12">
                    <div id="profile-page-wall-post" class="card">
                        <div class="card-profile-title">
                            <div class="row valign-wrapper">
                                <div class="col s1">
                                    <img src="{{ asset('uploads/avatars/'~ event.center.avatar) }}" alt="" class="circle responsive-img valign profile-post-uer-image">
                                </div>
                                <div class="col s10">
                                    <p class="grey-text text-darken-4 margin">{{ event.center.name }}</p>
                                    <span class="grey-text text-darken-1 ultra-small">{{ event.title }}  -  {{ event.created|date('d/m/Y') }}</span>
                                </div>
                                <div class="col s1 right-align">
                                        <i class="material-icons">keyboard_arrow_down</i>
                                </div>
                            </div>
                        </div>
                        {#<div class="card-image profile-small">#}
                            {#<img src="images/gallary/1.jpg" alt="sample" class="responsive-img profile-post-image">#}
                            {#<span class="card-title">Card Title</span>#}
                        {#</div>#}
                        <div class="card-content">
                            <p>{{ event.content|raw }}</p>
                        </div>
                        <div class="card-action">
                            {#<a href="#">Like</a>&nbsp;#}
                            <a href="#" class="grey-text"><i class="left material-icons">share</i> Partager</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>

{% endif %}

<script >

    var geocoder;
    var map;
    var query = '{{ center.address }} {{ center.cp }} {{ center.city }}, {{ center.region }}';

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'),{
            zoom: 12
        });
        geocoder = new google.maps.Geocoder();
        console.log(query);
        codeAddress();
    }

    function codeAddress() {
        var address = query;
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == 'OK') {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
    google.maps.event.addDomListener(window, 'load', initMap);

</script>