{% extends "FrontBundle::base.html.twig" %}

{% block title %} Match en vidéo | Taqwira {% endblock title %}

{% block body %}

    <div id="booking-login" class="block grey lighten-3">
        <div class="row">
            <div class="col s12 m8 offset-m2" style="margin-top: 1rem">
                <div class="row">
                    <div class="flow-text grey lighten-3 z-depth-0">MATCH EN VIDEO: <span class="red-text text-accent-3"><b>{{ booking.reference }}</b></span></div><hr class="style10">
                    <div class="col s12 card-panel">
                        <h5 class="flow-text"><i class="small material-icons left">videocam</i> Ma vidéo</h5>
                    </div>
                    {# == Coordonnées du client ======================================================================#}
                    <div class="col s12 m4 card-panel z-depth-1 info-row hide-on-small-only">
                        <h2 class="flow-text">Coordonnées du client</h2><hr class="style10">
                        <div class="row">
                            <div class="col s3">Nom:</div><div class="col s9"><b>{{ booking.customer.firstname }} {{ booking.customer.lastname }}</b></div>
                            <div class="col s3">E-mail:</div><div class="col s9"><b>{{ booking.customer.email }}</b></div>
                            <div class="col s3">Téléphone:</div><div class="col s9"><b>{{ booking.customer.phone }}</b></div>
                        </div>
                    </div>
                    {#=== Détails de ma réservation ==================================================================#}
                    <div class="col s12 m8 card-panel z-depth-1 ">
                        <div class="row">
                            <div class="col s6">
                                <h5 class=""><i class="small material-icons left">business</i> {{ booking.field.center.name }}</h5>
                                <i class="material-icons left">view_array</i> {{ booking.field.name }}
                            </div>
                            <div class="col s6 datetime-col">
                                <p><i class="material-icons left">event</i>{{ booking.date|date('m/d/Y') }}</p>
                                <p><i class="material-icons left">timer</i><b>{{ booking.timeStart|date('H:i') }}</b></p>
                            </div>
                            <hr class="style10"><br>
                            <div class="col s12">
                                {% if video is not null %}
                                    <iframe width="100%" height="250" src="{{ video.url }}" frameborder="0" allowfullscreen=""></iframe>
                                {% else %}
                                    <div class="card alert-message z-depth-0 red lighten-5">
                                        <div class="card-content red-text">
                                            <p><i class="material-icons left">error</i>Cette réservation ne contient aucune vidéo</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# === CSS STYLE === #}
    <style>
        body{
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        html, body, .block {
            flex: 1 0 auto;
        }
        footer {
            padding-left: 0;
        }
        hr.style10 {
            border-top: 1px dotted #8c8b8b;
            border-bottom: 1px dotted #fff;
        }
        .info-row{
            border-right: 8px solid #eeeeee;
        }
        .datetime-col{
            border-left: 1px dotted #8c8b8b;
        }
        .booking-row{
            border: 1px solid #ccc;
        }
    </style>
{% endblock body %}

