<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %} Taqwira | Confiramation de réservation {% endblock %}</title>
    <!-- Favicons-->
    <link rel="icon" href="{{ asset('public/images/favicon/favicon-32x32.png') }}" sizes="32x32">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('public/images/favicon/apple-touch-icon-152x152.png') }}">
    <!-- ICONS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- ICONS FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <!-- CORE CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body class="grey lighten-4">

<nav>
    <div class="nav-wrapper grey darken-3">
        <a href="#" class="brand-logo center" style="margin-top: 0.65rem"><img  src="https://www.taqwira.com//public/images/logo-takwira.png" alt="taqwira" ></a>
    </div>
</nav>

<div id="booking-login" class="block">
    <div class="row">
        <div class="col s12 m10 offset-m1" style="margin-top: 1rem">
            <div class="row">
                <div class="col s12 card-panel z-depth-1">
                    <h5 class="flow-text"><i class="small material-icons left">receipt</i>Réservation Réf°: <span><b>{{ booking.reference }}</b></span></h5>
                </div>
                {# == Coordonnées du client ======================================================================#}
                <div class="col s12 m4 card-panel z-depth-1 info-row hide-on-small-only">
                    <h2 class="flow-text">Coordonnées du client</h2><hr class="style10">
                    <div class="row">
                        <div class="col s3">Nom:</div><div class="col s9"><b>{{ booking.customer.firstname }} {{ booking.customer.lastname }}</b></div>
                        <div class="col s3">E-mail:</div><div class="col s9"><b>{{ booking.customer.email }}</b></div>
                        <div class="col s3">Téléphone:</div><div class="col s9"><b>{{ booking.customer.phone }}</b></div>
                    </div>
                </div>
                {#=== Détails de ma réservation ==================================================================#}
                <div class="col s12 m8 card-panel z-depth-1">
                    <h2 class="flow-text">Détails de ma réservation</h2><hr class="style10">
                    <div class="row card-panel z-depth-0 grey lighten-3 booking-row">
                        <div class="col s6">
                            <h5 class=""><i class="small material-icons left">business</i> {{ booking.field.center.name }}</h5>
                            <i class="material-icons left">view_array</i> {{ booking.field.name }}
                        </div>
                        <div class="col s6 datetime-col">
                            <p><i class="material-icons left">event</i>{{ booking.date|date('m/d/Y') }}</p>
                            <p><i class="material-icons left">timer</i><b>{{ booking.timeStart|date('H:i') }}</b></p>
                        </div>
                        <div class="col s12 m6 ">
                            <p class="bold"><b>Bénéficiaire</b></p>
                        </div>
                        <div class="col s12 m6">
                            <p><i class="material-icons left">person</i> {{ booking.customer.firstname }} {{ booking.customer.lastname }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <hr class="style10">
                        {#<div class="col s6 right-align">TVA </div><div class="col s6 right-align"><b>7.36 TND</b></div>#}
                        <div class="col s6 right-align"><b>Prix TTC</b> </div><div class="col s6 right-align"><b>{{ booking.price }} TND</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer grey lighten-4">
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col l6 s12">#}
                {#<h5 class="white-text">Footer Content</h5>#}
                {#<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>#}
            {#</div>#}
            {#<div class="col l4 offset-l2 s12">#}
                {#<h5 class="white-text">Links</h5>#}
                {#<ul>#}
                    {#<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>#}
                    {#<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>#}
                    {#<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>#}
                    {#<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <div class="footer-copyright grey lighten-4">
        <div class="container grey-text">
            © 2015 - {{ 'now'|date('Y') }} Taqwira, All rights reserved.
            <a class="grey-text right" href="#"><i class="fab fa-facebook-square fa-2x"></i>&nbsp;</a>&nbsp;
            <a class="grey-text right" href="#"><i class="fab fa-google-plus-square fa-2x"></i>&nbsp;</a>&nbsp;
            <a class="grey-text right" href="#"><i class="fab fa-instagram fa-2x"></i>&nbsp;</a>
        </div>
    </div>
</footer>

</body>
</html>