{% extends "base.html.twig" %}

{% block title %} Mes billets | Taqwira {% endblock title %}

{% block body %}

    <div id="booking-login" class="block grey lighten-3">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="row">
                    <h1 class="flow-text grey lighten-3 z-depth-0">GÉRER MA RÉSERVATIONS</h1>
                    <div class="col s12 card-panel z-depth-0">
                        <h5 class="flow-text"><i class="fas fa-ticket-alt left"></i> Ma réservation: <span class="lime-text text-darken-2">{{ booking.reference }}</span></h5>
                    </div>
                    {# == Coordonnées du client ======================================================================#}
                    <div class="col s12 m5 hide-on-small-only" style="padding: 0px">
                        <ul class="collection with-header">
                            <li class="collection-header"><h5 class="flow-text">Coordonnées du client</h5></li>
                            <li class="collection-item"><i class="fas fa-user left"></i>{{ booking.customer.firstname }} {{ booking.customer.lastname }}</li>
                            <li class="collection-item"><i class="fas fa-envelope left"></i>{{ booking.customer.email }}</li>
                            <li class="collection-item"><i class="fas fa-phone-volume left"></i>{{ booking.customer.phone }}</li>
                        </ul>
                    </div>
                    {#=== Détails de ma réservation ==================================================================#}
                    <div class="col s12 m7" style="padding: 0px">
                        <ul class="collection with-header">
                            <li class="collection-header"><h5 class="flow-text">Détails de ma réservation</h5></li>
                            <li class="collection-item ">
                                <div class="row grey lighten-3">
                                    <div class="col s6">
                                        <p><i class="material-icons left">business</i> <b>{{ booking.field.center.name }}</b></p>
                                        <i class="material-icons left">view_array</i> {{ booking.field.name }}
                                    </div>
                                    <div class="col s6 datetime-col">
                                        <p><i class="material-icons left">event</i>{{ booking.date|date('m/d/Y') }}</p>
                                        <p><i class="material-icons left">timer</i><b>{{ booking.timeStart|date('H:i') }}</b></p>
                                    </div>
                                </div>
                                <div class="row grey lighten-3">
                                    <div class="col s12 m6">
                                        <p class="bold"><b>Bénéficiaire</b></p>
                                    </div>
                                    <div class="col s12 m6">
                                        <p><i class="material-icons left">person</i> {{ booking.customer.firstname }} {{ booking.customer.lastname }}</p>
                                    </div>
                                </div>
                            </li>
                            <li class="collection-item">
                                <div class="row">
                                    {#<div class="col s6 right-align">TVA </div><div class="col s6 right-align"><b>7.36 €</b></div>#}
                                    <div class="col s6 right-align"><b>Prix TTC</b> </div><div class="col s6 right-align"><b>{{ booking.price }} TND</b></div>
                                </div>
                                <div class="row">
                                    <div class="col s12 right-align">
                                        <a role="button" href="{{ path('receipt_match_pdf', {'id': booking.id}) }}" target="_blank" class="waves-effect waves-light yellow accent-4 black-text btn"><i class="fas fa-file-pdf left"></i>Télécharger la réservation</a>
                                        <br><br>
                                        {% if booking.bill != null %}
                                            <a role="button" href="{{ path('bill_match_pdf', { 'id': booking.id }) }}" target="_blank" class="waves-effect waves-light yellow accent-4 black-text btn"><i class="fas fa-file-pdf left"></i> Télécharger la facture</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {#=== Rappel =====================================================================================#}
                    <div class="col s12">
                        <p style="font-size:0.8rem;font-weight: 300"><b>Rappel</b>: Les chaussures à crampons sont interdites. veuillez vous munir de chaussure de tennis ou de stabilisé à semelle plate. le ballon est fournis ansi que les dossards.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# === CSS STYLE === #}
    <style>
        body{
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        html, body, .block {
            flex: 1 0 auto;
        }
        footer {
            padding-left: 0;
        }
        .datetime-col{
            border-left: 1px dotted #8c8b8b;
        }
        .booking-row{
            border: 1px dotted #8c8b8b;
        }
    </style>
{% endblock body %}

