{% extends "FrontBundle::base.html.twig" %}

{% block title %} Mes billets | Taqwira {% endblock title %}

{% block body %}

    <div id="booking-login" class="block grey lighten-3">
        <div class="row">
            <div class="col s12 m8 offset-m2" style="margin-top: 1rem">
                <div class="row">
                    <div class="flow-text grey lighten-3 z-depth-0">GÉRER MA RÉSERVATIONS: <span class="red-text text-accent-3"><b>{{ booking.reference }}</b></span></div><hr class="style10">
                    <div class="col s12 card-panel z-depth-1">
                        <h5 class="flow-text"><i class="fas fa-ticket-alt left"></i> Ma réservation</h5>
                    </div>
                    {# == Coordonnées du client ======================================================================#}
                    <div class="col s12 m4 card-panel z-depth-1 info-row hide-on-small-only">
                        <h2 class="flow-text">Coordonnées du client</h2><hr class="style10">
                        <div class="row">
                            <div class="col s2"><i class="fas fa-user"></i></div><div class="col s10"><b>{{ booking.customer.firstname }} {{ booking.customer.lastname }}</b></div>
                            <div class="col s2"><i class="fas fa-envelope"></i> </div><div class="col s10"><b>{{ booking.customer.email }}</b></div>
                            <div class="col s2"><i class="fas fa-phone-volume"></i> </div><div class="col s10"><b>{{ booking.customer.phone }}</b></div>
                        </div>
                    </div>
                    {#=== Détails de ma réservation ==================================================================#}
                    <div class="col s12 m8 card-panel z-depth-1">
                        <h2 class="flow-text">Détails de ma réservation</h2><hr class="style10">
                        <div class="row card-panel z-depth-0 grey lighten-3 booking-row">
                            <div class="col s6">
                                <h5 class=""><i class="small material-icons left">business</i> {{ booking.field.center.name }}</h5>
                                <i class="material-icons left">view_array</i> {{ booking.field.name }}
                            </div>
                            <div class="col s6 datetime-col">
                                <p><i class="material-icons left">event</i>{{ booking.date|date('m/d/Y') }}</p>
                                <p><i class="material-icons left">timer</i><b>{{ booking.timeStart|date('H:i') }}</b></p>
                            </div>
                            <div class="col s12 m6 ">
                                <p class="bold"><b>Bénéficiaire</b></p>
                            </div>
                            <div class="col s12 m6">
                                <p><i class="material-icons left">person</i> {{ booking.customer.firstname }} {{ booking.customer.lastname }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <hr class="style10">
                            {#<div class="col s6 right-align">TVA </div><div class="col s6 right-align"><b>7.36 €</b></div>#}
                            <div class="col s6 right-align"><b>Prix TTC</b> </div><div class="col s6 right-align"><b>{{ booking.price }} TND</b></div>
                        </div>
                        <div class="row">
                            <div class="col s12 right-align">
                                <a role="button" href="{{ path('receipt_match_pdf', {'id': booking.id}) }}" class="waves-effect waves-light yellow accent-4 black-text btn"><i class="fas fa-file-pdf left"></i>Télécharger la réservation</a>
                                <br><br>
                                {% if booking.bill != null %}
                                    <a role="button" href="{{ path('bill_match_pdf', { 'id': booking.id }) }}" class="waves-effect waves-light yellow accent-4 black-text btn"><i class="fas fa-file-pdf left"></i> Télécharger la facture</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# === CSS STYLE === #}
    <style>
        body{
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        html, body, .block {
            flex: 1 0 auto;
        }
        footer {
            padding-left: 0;
        }
        hr.style10 {
            border-top: 1px dotted #8c8b8b;
            border-bottom: 1px dotted #fff;
        }
        .info-row{
            border-right: 8px solid #eeeeee;
        }
        .datetime-col{
            border-left: 1px dotted #8c8b8b;
        }
        .booking-row{
            border: 1px dotted #8c8b8b;
        }
    </style>
{% endblock body %}

