{% extends "base.html.twig" %}

{% block title %} Mes billets | Taqwira {% endblock title %}

{% block body %}

    <div id="booking-login" class="block grey lighten-3">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <h1 class="flow-text grey lighten-3 z-depth-0 card-panel">GÉRER MES RÉSERVATIONS</h1>
                <!--=== form content ================================================================================-->
                <div id="profile-page-wall-share" class="row">
                    <div class="col s12">
                        <ul class="tabs z-depth-1">
                            <li class="tab col s3"><a class="black-text waves-effect waves-light active" href="#reference">J’ai la référence de réservation.</a></li>
                            <li class="tab col s3"><a class="black-text waves-effect waves-light" href="#reference_name">J’ai la référence de réservation et le<br>nom de bénéficiaire.</a></li>
                            {#<li class="tab col s3"><a class="black-text waves-effect waves-light" href="#forget_reference">J’ai perdu la référence <br>de réservation ou<br> l'e-mail de confirmation.</a></li>#}
                            <div class="indicator" style="right: -1px; left: 546px;"></div>
                        </ul>
                        <!-- Reference-->
                        <div class="form-login-booking">
                            {{ form_start(form_mail, {'attr':{'class': 'formMailValidate'}}) }}
                                {{ form_row(form_mail._token) }}
                                <div id="reference" class="tab-content col s12  grey lighten-4">
                                    <div class="row mess-error-mail"></div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="fas fa-barcode prefix"></i>
                                            {{ form_widget(form_mail.reference_one) }}
                                            <label for="reference" class="">Référence de réservation *</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="fas fa-envelope prefix"></i>
                                            {{ form_widget(form_mail.email) }}
                                            <label for="email" class="">E-mail *</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 right-align">
                                            <button type="button" class=" waves-effect waves-light yellow accent-4 black-text btn btn-check-booking-mail">Connexion</button>
                                        </div>
                                    </div>
                                </div>
                            {{ form_end(form_mail, { 'render_rest': false } ) }}
                        </div>
                        <!-- Reference & Name -->
                        <div class="form-login-booking">
                            {{ form_start(form_name, {'attr':{'class': 'formNameValidate'}}) }}
                                {{ form_row(form_name._token) }}
                                <div id="reference_name" class="tab-content col s12  grey lighten-4" style="display: none;">
                                    <div class="row mess-error-name"></div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="fas fa-barcode prefix"></i>
                                            {{ form_widget(form_name.reference_tow) }}
                                            <label for="reference" class="">Référence de réservation *</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="fas fa-user prefix"></i>
                                            {{ form_widget(form_name.lastname) }}
                                            <label for="email" class="">Prénom *</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="fas fa-user prefix"></i>
                                            {{ form_widget(form_name.firstname) }}
                                            <label for="email" class="">Nom *</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 right-align">
                                            <button type="button" class=" waves-effect waves-light yellow accent-4 black-text btn btn-check-booking-name">Connexion</button>
                                        </div>
                                    </div>
                                </div>
                            {{ form_end(form_name, { 'render_rest': false } ) }}
                        </div>
                    </div>
                </div>
                <!--=== Preloader content ===========================================================================-->
                <div id="preloader-page-content" class="card-panel center-align z-depth-0 hide hide-on-small-only" style="position: absolute; top: 40%; left: 42%;">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div><br>S'il vous plaît, attendez...
                </div>
            </div>
        </div>
    </div>

    {# === CSS STYLE === #}
    <style>
        body{
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        html, body, .block {
            flex: 1 0 auto;
        }
        footer {
            padding-left: 0;
        }

    </style>
{% endblock body %}

